{% extends 'base.html' %}


{% block title %}{{ block.super }} | Change Password{% endblock title %}
    


{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
{% endblock content %}
    