{% extends 'base.html' %}

{% block title %}{{ block.super }} | login{% endblock title %}


{% block content %}
    <h2>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p><a href="{% url 'accounts:password_reset' %}">Forgot your password ?</a></p>
        <button type="submit">Login</button>
    </form>
    
{% endblock content %}
    