<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{% url 'posts:list' %}">Django Blogs</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
                
                {% if request.user.is_authenticated and user.is_staff %}
                    <li class="nav-item"><a href="{% url 'posts:create' %}" class="nav-link">Create</a></li>
                {% endif %}
                <!-- <li class="nav-item"><a href="#" class="nav-link">Link</a></li>-->
                <!--<li class="nav-item"><a href="#" class="nav-link">Service</a></li>-->
                <!-- <li class="nav-item"><a href="#" class="nav-link">More</a></li> -->
            </ul>
            
            <form method="GET" action="" class="form-inline my-2 my-lg-0">
                <input type="text" class="form-control mr-sm-2" type="search" aria-label="Search" name="q" placeholder="Search posts" value="{{ request.get.q}}">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
            </form>
            {% if not request.user.is_authenticated and not "/accounts/login/" in request.get_full_path %}
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
                    <li class="dropdown order-1">
                        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Admin <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right mt-2">
                            <li class="px-3 py-2">
                                <a href="{% url 'accounts:login' %}">Login</a>
                            </li>
                            <li class="px-3 py-2">
                                <a href="{% url 'accounts:signup' %}">Sign Up</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}

            {% if  request.user.is_authenticated  %}
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
                    <li class="dropdown order-1">
                        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Admin <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right mt-2">
                            <li class="px-3 py-2">
                                <a href="{% url 'accounts:logout' %}">Logout</a>
                            </li>
                            
                            <li class="px-3 py-2">
                                <a href="{% url 'accounts:change_password' %}">Change password</a>
                            </li>
                            
                            <li class="px-3 py-2">
                                <a href="{% url 'accounts:password_reset' %}">Reset Password</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}

            
        </div>
    </div>
</nav>