{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
    <h1>{{ post.title }} </h1><br>
    <img src="{{ post.image.url }}">
    {{ post.get_markdown | safe | linebreaks }}<br>
    {{ post.timestamp }}<br>
    {{ post.updated }}<br>
    {{ post.category.title }}<br>
    {{ post.user }}

    <p>Likes : {{ post.likes.count }} <a href="{{ post.get_like_url }}">Like</a></p>
{% endblock content %}
    
