{% extends 'base.html' %}

{% block content %}
    <div class="container">
		{% for post in posts %}
			<div class="row">
	  			<div class="col-sm-12">
	    			<div class="thumbnail">
	    				{% if post.image %}
	    					<img src="{{ post.image.url }}" class="img-responsive">
	    				{% endif %}
	      				<div class="caption">
								

	        				<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small>{{ post.timestamp}}</small><b style="color:red;">{{ post.category }}</b></h3>

	        				<p>{{ post.content | linebreaks | truncatechars:120 }}</p>
	        				<p><a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>			
	      				</div>
		    		</div>
	  			</div>
	  			<hr>
	  		</div>
		{% endfor %}
    </div>
{% endblock content %}
