{% extends 'base.html' %}


{% block content %}
    <h1>form</h1>
    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Post</button>
    </form>
    
{% endblock content %}
