{% extends 'base.html' %}

{% block title %}{{ block.super }} | Sign Up{% endblock title %}


{% block content %}
    <h2>Sign Up</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
{% endblock content %}
    
    